body{
  background: #111;
  color: #EEE;
  font-family: "JustusOldstyle", Garamond, serif;
  text-align: center;
}

h1 {
  color: #EEEEE0;
  font-size: min(12vh, 12vw);
}

pre {
  font-family: "FiraMonoRegular",courier new, monospace;
  text-align: justify;
  font-size: 0.8em;
}

a {
  color: #88F;
}
a:hover {
  color: #BBF;
}

@media screen and (min-aspect-ratio: 8/5) {
  header p {
    max-width: 40%;
    margin: auto;
  }
  footer p {
    max-width: 75%;
    margin: auto;
  }
  .boneyard {
    max-width: 75%;
    margin: auto;
  }
  body{
    font-size: 1.2em;
  }
}

footer p {
  font-size: 0.6em;
  font-family: sans-serif;
}

.boneyard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
